#calculadora
{
	position:absolute;
	width: 360px;
	height: 460px;
	border:2px;	
}

.name 
{
	position: relative;
	width: 300px;
	height: 20px;
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}
.contenedor
{
	position: relative;
	width: 360px;
	height: 120px;
	margin-top: 30px;
}
.screen
{
	position: relative;
	width: 300px;
	height: 80px;
	background-color: #8D6E63;
	float: left;
	box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
	user-select: none;
	cursor: none;
	font-size: 36px;
	text-align: right;
	font-weight: bold;
}
.clear
{
	position: relative;
	width: 60px;
	height: 80px;
	background-color: #F50057;
	float: right;
	font-size: 60px;
	text-align: center;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	user-select: none;
	cursor: pointer;
	transition: all 0.2s ease;
	margin-bottom: 5px;
	font-weight: bold;
}


.keis
{
	position: relative;
	width: 360px;
	height: 240px;
	margin-left: 10px;
	margin-right: 10px;
}

.prees 
{
	position: relative;
	width: 280px;
	height: 55px;
	margin-top:5px; 
}
.a
{

	position: relative;
	margin-top: 3px;
	width: 80px;
	height: 50px;
	float: left;
	margin-left: 2px;
	border-radius: 1px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	user-select: none;
	cursor: pointer;
	transition: all 0.2s ease;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	background-color: white;
}

.operator{

	background-color: #B2EBF2;

}
.a:hover
{
	background: #E0F7FA;
	box-shadow: 0px 4px #3A7787;
	color: #263238;
}
.a:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.clear:hover
{
	box-shadow: 0px 4px #3A7787;
}
.clear:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

